<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{/layout/fragments :: htmlHead('Spring Boot 4')}"></head>
	<body>
		<th:block th:replace="~{/layout/fragments :: pageHeader('포스트 상세보기')}"></th:block>
        
        <main class="mt-2">
            <div class="card" th:object="${post}">
                <div class="card-header">
                    <h2 id="title" th:text="*{title}"></h2>
                    <input class="d-none" id="id" name="id" th:value="*{id}">
                    <table>
                        <tr>
                            <th>작성자</th>
                            <td class="ps-2" id="author" th:text="*{author}"></td>
                        </tr>
                        <tr>
                            <th>작성시간</th>
                            <td class="ps-2" id="createdTime" th:text="*{#temporals.format(createdTime, 'yyyy-MM-dd HH:mm')}"></td>
                        </tr>
                        <tr>
                            <th>수정시간</th>
                            <td class="ps-2" id="modifiedTime" th:text="*{#temporals.format(modifiedTime, 'yyyy-MM-dd HH:mm')}"></td>
                        </tr>
                    </table>
                </div>
                <div class="card-body">
                    <textarea th:text="*{content}" class="form-control" id="content" name="content" rows="15" 
                        required readonly></textarea>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center">
                        <a th:href="@{/post/update/{id}(id=*{id})}" class="btn btn-success me-2">수정</a>
                        <button class="btn btn-danger" id="btnDelete">삭제</button>
                    </div>
                </div>
            </div>
        </main>

        <div class="mt-2 container-sm">
            <div id="commentSection"></div>
            <div class="card">
                <div class="card-header">
                    <h5>댓글 작성</h5>
                </div>
                <div class="card-body">
                    <textarea class="form-control" rows="3" id="text" name="text"></textarea>
                    <div class="mt-2 d-flex justify-content-center">
                        <button class="btn btn-primary" id="btnCommentCreate">댓글 작성</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-2 container-sm" id="commentList">
            <div class="card">
                <div class="card-header">
                    <h5>댓글 목록</h5>
                </div>
                <div class="card-body" id="commentLoadSection"></div>
            </div>
        </div>
        
        <script th:src="@{/js/post-details.js}"></script>
        <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
        <th:block th:replace="~{/layout/fragments :: axiosJS}"></th:block>
	</body>
</html>